
/*Styling body(Ali, Steven, Ross)*/
html, body {
    width: auto!important; 
    overflow-x: hidden!important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eecbff;
}

a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
/*header start */
#a-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
    background-color: #c797cf;
}

.a-logo {
    width: 100px;
    height: 100px;
    margin: auto;
}

.a-logo-cont {
    flex: 1;
    display: flex;
}

.a-headNav-cont{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.a-header-cont{
    flex: 1;
    margin: auto;
}

.a-nav-cont {
    flex: 1;
    
}

.a-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.a-nav li{
    flex-basis: 16%;
    padding: 10px;
}

.a-footer {
    background-color: #c797cf;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-right: 2%;
    display: flex;
}

.a-footer-logo img {
    width: 30px;
    height: auto;
    flex: 1;
}
.a-footer-menu a { 
    margin:0px 40px 0px 0px;
    font-size: 20px;
    flex: 1;
}
.a-icons img {
    margin:0px 20px 0px;
    width: 30px;
    height: auto;
    flex: 1;
}
.a-back-to-top {
    margin-left:20px;
    width: 30px;
    height: auto; 
    flex: 1;
}
