body{
    background-color: #eecbff;
    font-family: Roboto;
}
h1{
    text-align: center;
}
button{
    background-color: #e8a2c5;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
img{
    width: 300px;
    height: 300px;
}
.row{
    margin-left: 125px;
}

