/*Ready for merge*/
.stockvideo{
    text-align:center;
    margin:0 auto;
    padding:0px;
    width: 480px;
    margin-bottom: 20px;
}
#playerContainer{
    position:relative;
    width: 480px;
}
#videoPlayer{
    width: 480px;
}
#playerControls{
    top:240px;
    position: absolute;
    /*background-color:#eecbff;*/
    width:100%;
    padding:5px;
    box-sizing:border-box;
}
input[type="image"]
{
    float:left;
    height:20px;
    margin-left:50px;
    margin-right:5px;
    margin-top:2px;
}
#volImage{
    margin-right:10px;
    width:20px;
}

@media screen and (min-width:480px){
    .stockvideo{
        width:640px;
    }
    #playerContainer{
        width:640px;
    }
    #videoPlayer{
        width:640px;
    }
    #playerControls{
        top:310px;
    }
}
