div > .container{
    border: 2px dotted black;
}
.stockvideo{
    text-align:center;
    margin:0 auto;
    padding:0px;
    width:100%;
    margin-bottom: 20px;
}
#playerContainer{
    position:relative;
    width:100%;
}
#videoPlayer{
    width:100%;
}
#playerControls{
    top:98%;
    position: absolute;
    background-color:#eecbff;
    width:100%;
    padding:5px;
    box-sizing:border-box;
}
input[type="image"]
{
    float:left;
    height:20px;
    margin-left:2px;
    margin-right:5px;
    margin-top:2px;
}
#volImage{
    margin-left:150px;
    width:20px;
}
